<!doctype html>
<html lang="en">

<head>
	<%- include('../partials/header'); -%>
	
</head>

<body>


	<!--================Header Menu Area =================-->
	
			<!--================Nav Area =================-->
			<%- include('../partials/nav',{active: "causes"},{data}); -%>
	
	<!--================Header Menu Area =================-->

    <section class="cause_details section_gap">
		<div class="container">

			<div class="card-body">
				<div class="col-lg-8 offset-lg-2">
					<div class="cause_content">
						<div class="row ">
							<h3>Improving Health in India </h3>
								
							<img class="card-img-top" src="assets/img/health/h3.jpg" alt="" >
							
							<p>As the world’s second-most-populous country and one of its fastest-growing economies, India faces both unique challenges and unprecedented opportunities in the sphere of public health.</p>

							<p>For more than a decade, India has experienced record-breaking economic growth that has been accompanied by significant reductions in poverty. According to the World Bank, infant mortality in India fell from 66 to 38 per 1,000 live births from 2000 to 2015. Life expectancy at birth has increased from 63 to 68 years, and the maternal mortality ratio has fallen from 374 to 174 per 100,000 live births over the same period.</p>
								
							<p>India also has dynamic pharmaceutical and biotechnology industries; world-class scientists, including a burgeoning clinical trials industry; and leading hospitals that attract foreign patients and treat its better-off citizens.</p>
								
							<p>Yet Indian government and public health officials agree that the country also faces persistent and daunting public health challenges, particularly for the poor. These include child undernutrition and low birth weights that often lead to premature death or lifelong health problems; high rates of neonatal and maternal mortality; growth in noncommunicable diseases such as obesity, diabetes, and tobacco use, leading to cancer and other diseases; and high rates of road traffic accidents that result in injuries and deaths.</p>
								
							<p>As the Indian government strives to provide comprehensive health coverage for all, the country’s rapidly developing health system remains an area of concern. There are disparities in health and health care systems between poorer and richer states and underfunded health care systems that in many cases are inefficiently run and underregulated. New government-financed health insurance programs are increasing coverage, but insurance remains limited.</p>
								
							<p>Public and private health systems are placing huge demands on the country’s capacity to train exceptional health leaders and professionals. Rising to meet these challenges, the people of India have an opportunity to have a major influence on their own future health and on the future of public health and medical efforts globally.</p>
							
							<a class="main_btn2"
                                href='/donation'>donate here</a>
						
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="card-body">
				<div class="col-lg-8 offset-lg-2">
					<div class="cause_content">
						<div class="row ">
							<h3>#2.Rural Health Care Foundation </h3>
								
							<img class="card-img-top" src="assets/img/health/h2.jpg" alt="" >
							
							<p>Rural Health Care Foundation is an organisation founded by the late Arun Nevatia. It strives to provide low cost primary healthcare to the lowest strata of the socio-economic pyramid and is doing well in achieving its goals.  

							Rural Health Care Foundation been given a Special Consultative Status with the ECOSOC at the United Nations. Harvard Business School has also published a case study on the Rural Health Care Foundation.</p>
						
							<%- include('../partials/donation_modal') -%>
						
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</section>
	<!--================ End important-points section =================-->

		<!-- Footer -->
<%- include('../partials/footer') -%>

<!--  JavaScript -->
<%- include('../partials/script') -%>

	



	
</body>

</html>