<!doctype html>
<html lang="en">

<head>
	<%- include('../partials/header'); -%>
	
</head>

<body>


	<!--================Header Menu Area =================-->
	
			<!--================Nav Area =================-->
			<%- include('../partials/nav',{active: "causes"},{data}); -%>
	
	<!--================Header Menu Area =================-->
    <section class="cause_details section_gap">
		<div class="container">
 
			<div class="card-body">
				<div class="col-lg-8 offset-lg-2">
					<div class="cause_content">
						<div class="row ">
							<h3>WOMEN EMPOWERMENT</h3>	
							
							<img class="card" src="assets/img/women/w1.jpg" alt="IMG" >						
							
							<p>Delivering multiple roles effortlessly every single day, women are undoubtedly the backbone of any society. Doting daughters, caring mothers, competent colleagues and a wide range of many other roles are played by women around us flawlessly and with grace.</p>

							<p>However, they’ve also been an ignored fraction of the society in many parts of the world. This, in turn, has caused women at large to bear the brunt of inequality, oppression, financial dependability and other social evils. For centuries now, women have been living under bondage that restricts them from achieving professional as well as personal heights.</p>
							<p>To restore their rightful and dignified status, The Indian Women and Child Welfare Trust has initiated women empowerment programs that provide a solid foundation to nurture the inner strength, creativity and self-esteem of women from all walks of life. With this base well established, women are now able to go out into the world, prepared to handle any challenge with skills, confidence and grace. They come to the forefront, where they become agents of peace and positive social change for themselves, their families, other women and their society.</p>
						
			
							<a class="main_btn2"
							href='/donation'>donate here</a>
							
						</div>
					</div>
				</div>
			</div>
			
			<!-- <div class="card-body">
				<div class="col-lg-8 offset-lg-2">
					<div class="cause_content">
						<div class="row ">
							<h3>#2.Help an abuse victim fight for justice.</h3>
						
							<img class="card-img-top"  src="assets/img/women/w3.jpg" alt="" >
							
							<p>Bhagyashree was born into a poor family who discontinued her education at a young age. She hoped to be married off into a good family but her husband turned out to be abusive. Not only did he beat her regularly but also used to cheat on her with different women. She decided to leave her husband and contacted Gauravi, an organization run by ActionAid India in collaboration with the Government of Madhya Pradesh. With the help of the organization, Bhagyashree studied Fashion Designing and now has plans to open her boutique.

							ActionAid India is part of a global federation and a full affiliate of ActionAid International that has a presence in over 40 countries worldwide. Since 1972, the poor and the excluded have been at the center of their programs in India. Gauravi is the first crisis center set up in India with the help of the Department of Health in 2014 to provide rights to victims of domestic and sexual abuse. Currently, there are 22 Gauravi centers across the country and over 40,000 cases have been registered in the centers. You can help ActionAid to help women in India by donating to fund counseling and operations of their shelter homes.</p>
							
							<%- include('../partials/donation_modal') -%>
						
						</div>
					</div>
				</div>
			</div> -->

		</div>
	</section>
	<!--================ End important-points section =================-->

		<!-- Footer -->
<%- include('../partials/footer') -%>

<!--  JavaScript -->
<%- include('../partials/script') -%>

	



	
</body>

</html>